body{
    padding: 0;
    margin: 0;
    background: url("http://www.getmesoftware.com/Industries/images/Webhosting-Internet-13.jpg") auto 90% no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
p{
    display: inline-block;
    margin: 0;
    width: 90%;
}
#wrap{
    margin-top: 100px;
}
#wrap > div{
    background-color: rgba(255, 255, 255, 0.9);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    overflow: hidden;
}
.title{
   font-size: 30px;
}
.picture{
    max-height: 50px;
    display: block;
}
.link{
    font-style: italic;
}
.description{
    font-size: 18px;
}
.picture, .link, .description{
    margin-left: 100px;
}
button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin-left: 44%;
    margin-top: 20%;
    font-size: 18px;
}
button:hover{
    outline: none;
}
